
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

  *{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
scroll-behavior: smooth;
scroll-padding-top: 4rem;
list-style: none;
text-decoration: none;
box-sizing: border-box;
  }
:root{
--main-color:#2288ff;
--second-color:#192f6a;
--text-color:#314862;
--bg-color:#fff;


/* box shadow */
--box-shadow:2px 2px 18px rgb(14 52 54 / 15%);
}
img{
width: 100%;
}
body{
color: var(--text-color);
}
section{
padding: 4.7rem 0 3rem;
}

.container{
max-width: 1068px;
margin-left: auto;
margin-right: auto;
}
header{
display: block;
width: 100%;
background: var(--bg-color);
position:fixed;
top: 0;
left: 0;
z-index: 100;
}
.nav{
display:flex;
justify-content:space-between;
align-items: center;
padding: 20px 35px;
}

.logo{
display: flex;
align-items: center;
column-gap: 0.5rem;
color: var(--text-color);
font-size: 1rem;
font-weight: 700;
text-transform: uppercase;
}
.logo .fa-solid{
font-size: 24px;
color: var(--main-color);
}
.navbar{
display: flex;
}
.navbar a{
padding: 8px 12px ;
color: var(--text-color);
font-size: 1rem;
text-transform: uppercase;
font-weight: 500;
}
.navbar a:hover{
color: var(--main-color);
}
#menu-icon{
font-size: 24px;
cursor: pointer;
display: none;
}
#menu{
display: none;
}
.btn{
padding: 8px 22px;
color: var(--bg-color);
background: var(--main-color);
border-radius: 5rem;
}
.btn:hover{
background:#3492fd;
}

/* home */
.home{
margin-top:7rem;
background-image: url(image/2.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 440px;
border-radius: 1.5rem;
display: flex;
align-items: center;
}
.home-text{
padding-left: 35px;
}
.home-text h1{
color: var(--bg-color);
font-size: 2rem;
margin-bottom: 1rem;
}

.about{
display: grid;
grid-template-columns:repeat(auto-fit,minmax(18rem,auto));
gap: 2rem;
}
.about-img img{
border-radius:3rem 0 3rem 3rem;
}
.about-text span{
font-size: 1rem;
font-weight: 500;
color: var(--main-color);
text-transform: capitalize;
}
.about-text p{
margin: 1rem 0 1rem;
font-size: 0.95rem;
}
.about-text h2{
font-size:1.7rem;
}

.sales{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(240px,auto));
gap:2.4rem;

}
.sales .box{
box-shadow: var(--box-shadow);
background: var(--bg-color);
border-radius: 2rem;
text-align: center;
padding: 20px;
}
.sales .box:hover{
background: var(--main-color);
color: var(--bg-color);
transition: 0.4s all linear ;
transform: translateY(-10px);
cursor: pointer;
}
.sales .box .fa-solid{
border-radius: 50%;
background: #f6f6fe;
color: var(--main-color);
padding: 10px;
font-size: 20px;
}
.sales .box h3{
text-transform: capitalize;
margin:1rem 0 0.4rem 0;
font-size: 1.1rem;
}



/* properties */

.properties{
background: #fbfbfb;
border-radius: 2%;
}


.heading{
text-align: center;
margin-bottom:2rem;
}
.heading span{
text-transform:capitalize;
font-weight: 500;
color: var(--main-color);
}
.heading h2{
text-transform: capitalize;
font-size: 1.7rem;
}
.heading p{
font-size: 0.94855rem;
margin-top: 10px;
}


.properties-container{
display: grid;
grid-template-columns:repeat(auto-fit,minmax(260px,auto));
gap:3rem;
padding:0 20px;
}
.properties-container .box{
background: var(--bg-color);
box-shadow: var(--box-shadow);
border-radius: 1rem;
padding:20px;
cursor: pointer;
}
.properties-container .box:hover{
transform: translateY(-10px);
transition:0.5s;

}
.properties-container .box img{
border-radius:1rem;
object-fit: cover;
object-position: center;
height: 220px;
}
.properties-container .box h3{
font-size: 1rem;
float: right;
font-weight:600;
text-transform: capitalize;

}
.properties-container .box .content{
display: flex;
justify-content: space-between;
margin-top: 2rem;
}
.properties-container .box .content .text h3{
font-weight:600;
}
.properties-container .box .content .text p{
font-size: 0.8rem;
text-transform: capitalize;
}
.properties-container .box .content .icon{
display: flex;
align-items: center;
column-gap:1rem;
}
.properties-container .box .content .icon .fa-solid{
display: flex;
align-items: center;
font-size:20px;
}

.properties-container .box .content .icon span{
font-weight: 500;
font-size:12px;
margin-left: 5px;
}


.newletter{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap:1rem;
text-align: center;
}
.newletter h2{
font-size: 1.7rem;
}
.newletter form{
background: var(--bg-color);
box-shadow: var(--box-shadow);
padding: 10px 20px;
border-radius: 45px;
}
.newletter input{
border: none;
outline: none;
padding-left: 15px;
caret-color: red;
}
.newletter .btn{
cursor: pointer;
font-size:1rem;
text-align: center;
padding:12px 34px;
font-weight: 600;
text-transform: uppercase;
box-shadow: var(--box-shadow);

}
.newletter #email-box{
width: 280px;
}


.footer{
background-color: var(--main-color);
color: var(--bg-color);
border-radius: 5rem 0 0 0;
}

.footer-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(240px ,auto));
text-transform: capitalize;
gap: 2rem;
}

.footer-container h2{
font-size: 1.7rem;
font-weight: 500;
}

.footer-box{
display: flex;
flex-direction: column;
}

.footer-box h3{
margin-bottom: 1rem;
font-size: 1rem;
font-weight: 400;
}

.footer-box a{
margin-bottom: 0.5rem;
font-size: 0.8rem;
font-weight: 400;
color: var(--bg-color);
}

.footer a:hover{
color: var(--text-color);
}

.social a{
font-size: 20px;
margin-right: 1rem;
transition: 0.5s all linear;
}

.social a:hover{
color: var(--second-color);
}

.copywrite{
padding: 20px;
text-align: center;
background-color: var(--main-color);
color:var(--bg-color);
}

.login{
display: flex;
grid-template-columns:0.4fr 1fr;
align-items: center;
min-height:100vh;
/* margin-top: 2rem; */
}

.login-container{
display: flex;
flex-direction: column;
row-gap:1rem;
}

.login-container h2{
font-size: 1.4rem;
text-transform: capitalize;
}

.login-container p{
font-size: 0.9rem;
}

.login-container form{
flex-direction: column;
display: flex;
}

.login-container form span{
font-size: 0.9rem;
color: #8a8a8a;
margin-bottom:4px;
text-transform: capitalize;
}

.login-container form input{
border: 1px solid #8a8a8a;
margin-bottom: 1rem;
padding: 10px;
outline: none;
background: var(--bg-color);
}

.login-container form .button{
outline: none;
border: none;
background: var(--main-color);
color: var(--bg-color);
font-size: 0.85rem;
font-weight: 500;
}

.login-container form .button:hover{
background: #3492fd;
}

.login-container form a{
font-size: 0.9rem;
text-align: right;
}

.login-container .btn{
border-radius: 0;
text-align: center;
}

.login-image img{
width:50%;
justify-content: center;
display: flex;
align-items: center;
margin-left:30%;
border-radius: 50px;
user-select: none;
}


/* media query */
@media (max-width : 1080px) {
  .container{
  margin-left: 1rem;
  margin-right: 1rem;
  }
}
@media (max-width : 880px)
{
section{
padding: 4rem 0 3rem;
}
.properties-container{
grid-template-columns: repeat(auto-fit,minmax(200px,auto));
gap: 1rem;
padding:0 10px;
}

.footer-container{
grid-template-columns: repeat(auto-fit,minmax(200px,auto));
gap: 1rem;

}
.login{
grid-template-columns: 0.6fr 1fr;
}
}
@media (max-width:768px){
.nav{
padding: 10px 0;
}
#menu-icon{
display: initial;

}
.navbar{
position: absolute;
top: 100%;
left: 0;
right: 0;
display:flex;
flex-direction: column;
text-align: center;
background: var(--second-color);
clip-path: circle(0% at 100% 1%);
transition: 0.6s;
}
.navbar a{
display: block;
margin: 1rem;
padding: 10px;
color: var(--bg-color);
}
.navbar a:hover{
background: var(--main-color);
color: var(--bg-color);
transition: 0.2s;
}
#menu:checked ~ .navbar{
clip-path:circle(144% at 100% 1%);
}
.about-text span{
font-size: 0.9rem;
}
.about-text h2,.heading h2 ,.new-letter h2{
font-size: 1.4rem;
}
}
@media (max-width:638px)
{
.about-text{
text-align: center;
}
.about-img{
order: 2;
}
.login{
grid-template-columns: 0.8fr 1fr;
/* margin-top: 3rem; */
}
}
@media(max-width:572px)
{

.login-image{
display: none;

}
.login{
justify-content: center;
grid-template-columns: 1fr;
}
}

@media(max-width:442px)
{
.home-text{
padding-left: 14px;
}
.home-text h1{
font-size: 1.7rem;
}
.about-text h2,.heading h2 ,.new-letter h2{
font-size: 1.2rem;
}
.properties-container{
padding: 0;
}
.new-letter #email-box{
width:140px;
}
.footer{
border-radius: 3rem 0 0 0;

}
}